@use "./base" as *;
.landing {
  background-color: $cream;
  &__container {
    min-height: 90vh;
    @include default-flex(flex, column, center, center);

    > h1 {
      font-size: 60px;
      // letter-spacing: 3px;
      font-family: $landing-font;
      font-weight: 700;
      > #italic {
        color: $pink;
        font-style: italic;
        padding: 0;
        font-weight: 700;
        font-family: $landing-font;
      }
    }
    > h2 {
      font-size: 16px;
      padding: 0;
      letter-spacing: 1px;
    }
  }
}
